<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Groupie-trackers</title>
    <link rel="icon" type="image/x-icon" href="/static/img/music.png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <header>
        <a href="/">
            <h1>Groupie trackers</h1>
        </a>
    </header>

    <center>

        <section class="Error_Page">
            <h1>{{.Error}}</h1>
            <br><br>
            <p>{{.StatusCode}}</p>
        </section>

        <main>
            <br><br>
            <a class="back" style="top: 100px;" href="/">←</a>
        </main>


    </center>

</body>

</html>